body{
    height: 100%;
  width: 100%;
  --light: rgb(41, 41, 41);
  --dark: rgb(36, 36, 36);
  background: linear-gradient(
    33.6deg,
    var(--light) 0% 9%,
    var(--dark) 11% 19%,
    var(--light) 21% 29%,
    var(--dark) 31% 39%,
    var(--light) 41% 49%,
    var(--dark) 51% 59%,
    var(--light) 61% 69%,
    var(--dark) 71% 79%,
    var(--light) 81% 89%,
    var(--dark) 91% 100%
  );
  background-repeat: repeat;
  background-size: 200px 200px;
  color:White;
}
.easy{
  background-color: white;
  color:black;
  border-radius: 45px;
  border: 7px solid rgb(0, 80, 0);
}

.medium{
  background-color: white;
  color:black;
  border-radius: 45px;
  border: 7px solid rgb(120, 100, 0);
}

.hard{
  background-color: white;
  color:black;
  border-radius: 45px;
  border: 7px solid rgb(115, 0, 0);
}